@model Data.TMU.Model.Course.FileCourse
@using Core.TMU.Convertor
@inject Core.TMU.Service.ITMUService.IUser user
@{
    var course = ViewBag.course as Data.TMU.Model.Course.Course;
    ViewData["Title"] = " ویدیو " + course.name;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}




<main class="ContentPanel">
    <partial name="panelPartial" />

    <div class="mainPanel">
        <div class="content">
            <header>
                <h2>ثبت ویدیو  @course.name</h2>
            </header>
            <div class="linner">
                <form asp-action="creatVideocourse" method="post" enctype="multipart/form-data">
                    <div class="col-12 col-xl-10">
                        <input asp-for="author" type="hidden" value="@(User.Identity.Name)">
                        <input type="hidden" asp-for="Date" value="@DateTime.Now">
                        <input type="hidden" asp-for="IdC" value="@course.Id">


                        <p class="mb-4">اطلاعات خواسته شده را تکمیل نمایید.</p>
                        <div class="form-row">
                            <div class="form-input">
                                <label for="firstname">نام ویدیو</label>
                                <input asp-for="name" type="text" id="firstname" class="form-control">
                                <span asp-validation-for="name"></span>
                            </div>
                            @{
                                if (course.Lock != true)
                                {
                                    <div class="form-group mb-3">
                                        <input type="checkbox" asp-for="Lock" value="true">
                                        <label for="vehicle1"> پرداخت هزینه</label><br>
                                    </div>
                                }
                            }

                            <div class="form-input">
                                <label for="lastname">ساعت</label>
                                <input asp-for="hour" type="number" min="0" max="24" class="form-control">
                                <span asp-validation-for="hour"></span>
                            </div>
                            <div class="form-input">
                                <label for="lastname">دقیقه</label>
                                <input asp-for="minet" type="number" min="0" max="60" class="form-control">
                                <span asp-validation-for="minet"></span>
                            </div>
                            <div class="form-input">
                                <label for="lastname">ثانیه</label>
                                <input asp-for="secend" type="number" min="0" max="60" class="form-control">
                                <span asp-validation-for="secend"></span>
                            </div>
                        </div>
              

                        <hr class="my-4">
                        <div class="form-group">
                            <div class="form-group mb-3">
                                <label for="customFile">فایل ویدیو را انتخاب کنید</label>
                                <div class="custom-file">
                                    <input name="filevideo" type="file" multiple class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">انتخاب فایل</label>
                                </div>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit" class="btngray">ثبت</button>
                            </div>
                        </div>
                </form>
            </div>

        </div>
    </div>
</main>

