@model Data.TMU.Model.ChangePasswordViewModel

@{
    ViewData["Title"] = "میزکار-ویرایش پسورد";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<main class="ContentPanel">
    <partial name="panelPartial" />
    <div class="mainPanel">
        <div class="content">
            <header>
                <h2>ویرایش پسورد</h2>
            </header>
            <div class="linner">
                <form asp-action="ResetPassword" method="post">
                    <div class="form-col">
                                <label for="inputPasswordformcol">پسورد قدیمی</label>
                                <input asp-for="OldPassword" type="password" class="form-control">
                                @Html.ValidationMessageFor(tuple => tuple.OldPassword)
                                <label for="inputPasswordformcol">پسورد جدید</label>
                                <input asp-for="NewPassword" type="password" class="form-control">
                                @Html.ValidationMessageFor(tuple => tuple.NewPassword)
                                <label for="inputPasswordformcol">تکرار پسورد جدید</label>
                                <input asp-for="ConfarinPassword" type="password" class="form-control">
                                @Html.ValidationMessageFor(tuple => tuple.ConfarinPassword)
                    </div>
                    <button type="submit" class="btngray">تغیرات پسورد</button>

                </form>
            </div>
        </div>
    </div>
</main>







